:root {
    --font-size-title: min(max(3vw, 28px), 40px);
    --font-size-heroes-book: min(max(1.7vw, 18px), 24px);
    --font-size-author: min(max(2.8vw, 26px), 38px);
}

nav {
    position: relative;
    min-height: 48px;
}

nav button {
    color: #3A211D;
    font-size: 32px;
    background: none;
    border: 0;
    font-family: Montserrat, serif;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    height: 1em;
}

#logo {
    height: 100%;
    /* Картинка будет занимать 100% высоты родительского элемента */
    z-index: 2;
}

#logo img {
    height: 100%;
    /* Займет 100% высоты родительского элемента */
    /* object-fit: contain; */
    /* Масштабирует картинку, чтобы она полностью поместилась внутри кнопки */
}

#nav-text-buttons {
    position: relative;
    
    z-index: 0;
}

#title {
    font-size: var(--font-size-title);
    font-weight: 700;
}

#heroes,  #book {
    font-size: var(--font-size-heroes-book);
    font-weight: 600;
}

#author {
    right: 0;
    font-size: var(--font-size-author);
    font-weight: 600;
    color: #37342E;
}

button#heroes:hover, button#book:hover, button#heroes.active, button#book.active {
    color: #A51842;
    font-weight: 700;
}