.screen {
    max-width: 1200px;
    margin: auto;
    margin-top: 2vw;
    /* overflow-y: scroll; */
}

@media (max-width: 1320px) {
    .screen {
        margin-left: 60px;
        margin-right: 60px;
        
    }
}