@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Podkova&family=Roboto&family=Ubuntu&family=Ysabeau&display=swap');
* {
    padding: 0;
    margin: 0;
}

.screen {
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
}

body {
    font-family: Montserrat, serif;
    color: #3A211D;
    font-weight: 400;
    background-color: #FFFEF8;
}

header {
    position: relative;
    height: 72px;
    
}

header button, header div {
    display: inline-block;
    color: #3A211D;
    line-height: .65em;
    position: absolute;
    bottom: 20px;
    background: none;
    border: 0;
}

header button {
    cursor: pointer;
}


button.logo img{
    height: 72px;
    width: 78px;
}

button.logo {
    bottom: 0;
}

header button.heroes, header button.book {
    font-size: 24px;
    font-weight: 600;
}


header button.active {
    color: #8F7A6B;
    font-weight: 700;
}

header button:hover {
    color: #A51842;
}

header .name {
    font-size: 40px;
    font-weight: 700;
    left: 95px;
}

header button.heroes {
    left: 612.79px;
}

header button.book {
    left: 727.79px;
}

header button.author {
    right: 0;
    font-size: 38px;
    font-weight: 600;
    color: #37342E;
}


header button.heroes:hover, header button.book:hover {
    font-weight: 700;
}


footer {
    float: left;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    margin-top: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

footer div {
    text-align: left;
}

footer div.readers {
    text-align: right;
    justify-content: center;
}

.copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    
    vertical-align: bottom;
}

.readers {
    background: #E8E7E6;
    border-radius: 16px;
    font-size: 16px;
    line-height: 100%;

    width: 243px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reader-num {
    display: inline;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-left: 10px;
}