@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Podkova&family=Roboto&family=Ubuntu&family=Ysabeau&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Montserrat, serif;
    color: #3A211D;
    font-weight: 400;
    background-color: #FFFEF8;
    padding: 0 calc(20px - (100vw - 100%)) 0 0;
}

main {
    display: flex;
}


footer {
    float: left;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

footer div {
    text-align: left;
}

footer div.readers {
    text-align: right;
    justify-content: center;
}

.copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    
    vertical-align: bottom;
}

.readers {
    background: #E8E7E6;
    border-radius: 16px;
    font-size: 16px;
    line-height: 100%;
    
    width: 243px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reader-num {
    display: inline;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-left: 10px;
}

/* @media (max-width: 1336px) {

    .screen {
        margin: 20px 40px;
    }

    header {
        height: 60px;
    }

    header button {
        bottom: 15px;
    }

    button.logo img{
        height: 60px;
        width: 65px;
    }

    header button.name {
        left: 80px;
        font-size: 36px;
    }

    header button.author {
        font-size: 32px;
        right: 5px;
    }

    footer {
        margin-top: 0;
        margin-bottom: 0;
    }  
} */

/* @media (max-width: 1152px) {

    header {
        height: 48px;
    }

    header button {
        bottom: 10px;
    }

    button.logo img{
        height: 48px;
        width: 52.27px;
    }

    header button.name {
        left: 71px;
        font-size: 34px;
    }

    header button.heroes {
        /* left: 510px; 
        font-size: 22px;
    }

    header button.book {
        /* left: 616px; 
        font-size: 22px;
    }

    header button.author {
        font-size: 30px;
    }

    /* footer {
        margin-top: 0;
        margin-bottom: 0;
    }   
} */

/* @media (max-width: 1024px) {
    

    header {
        height: 48px;
    }

    header button {
        bottom: 10px;
    }

    button.logo img{
        height: 48px;
        width: 52.27px;
    }

    header button.name {
        left: 71px;
        font-size: 34px;
    }

    /* header button.heroes {
        left: 432px;
        font-size: 22px;
    }

    header button.book {
        left: 510px;
        font-size: 22px;
    } 

    header button.author {
        font-size: 30px;
    }

    /* footer {
        margin-top: 0;
        margin-bottom: 0;
    }   
} */